<!DOCTYPE html>
<html xmlns:th="www.thimeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet" />
<title>Insert title here</title>

<script>
  /*画面表示時（onLoad）に動作する処理群
  HTMLのタグ要素たち＝DOM（Document Object Model）
  下の処理で、DOMコンテンツがロードされるのを待つ
  イベントリスナ「〇〇のイベントが発生したら△△が動作する」ことを予約する*/
  document.addEventListener("DOMContentLoaded", event => {
    
    //querySelectorAllメソッドで商品情報の「削除」ボタンをすべて抽出し、deleteBtnに格納する
    const deleteBtns = document.querySelectorAll(".deleteBtn");
    
    //deleteBtnsをループさせ、すべてのボタンにイベントリスナを追加
    deleteBtns.forEach(btn => {
      //click イベントが発火した際、無名関数を呼び出すよう設定
      btn.addEventListener("click", event => {
        let isOk = confirm("削除してもよろしいですか？");
        if(!isOk){return;}
        
        //event target（削除ボタン）の親要素のさらに親要素から、td要素をすべて抽出し、tdListに格納
        const tdList = event.target.parentElement.parentElement.querySelectorAll("td");
        //deleteGoods関数を呼び出し、商品情報を削除
        deleteGoods(tdList);
      });
    });
  });
  
  /*deleteGoods関数
  削除ボタンのclickイベントにより呼び出される
  関数は呼び出されるまで動作しないため、DOMのロードを待つ必要がないので、DOMコンテンツのロードを待つブロックの外に作成*/
  function deleteGoods(tdList){
      //JavaにPOST送信するオブジェクトを取得・設定
      const postObj = {"id":tdList.item(0).innerText};
      
      /*fetch APIを使用し、Javaと非同期通信（POST）を行う
      SUCCESS時（then）：削除処理完了アラートをお表示し、画面上の商品情報行を削除する
      ERROR時（catch）：エラー情報をconsoleに出力する*/
      /*fetch関数の第一引数に設定されている文字列が通信先のURL
      このURLでマッピングされているJava側のメソッドが呼び出される*/
      fetch("/ecsite/admin/api/deleteGoods", {
        method:"POST",
        headers:{'Content-Type':"application/json"},
        /*通信するJavaScriptデータをJSON形式文字列に変換している*/
        body:JSON.stringify(postObj),
      })
      .then(response => response.text())
      /*メッセージはバッククオーテーションで囲む（Shift+@キー
      JavaScriptではバッククオーテーションで囲んだ文字列の中に変数をそのまま記述できる
      （「+」で文字と変数を連結する手間を省ける）*/
      /*fetch関数によってJava側（AdminControllerのdeleteApiメソッド）と通信した結果
      （今回の場合は「1」または「-1」がthen関数の引数に自動的にセットされる*/
      .then(result => {
        alert(`商品[${tdList.item(1).innerText}]を削除しました。`);
        tdList.item(0).parentElement.remove();
      })
      .catch(error => {
        console.error("Error:",error);
      });
    
  }
</script>
</head>
<body>
  
  <header>
    <h1>EC Site -- 管理者ページ</h1>
  </header>
  
  <table id="adminTable">
    <thead>
      <tr>
        <th>ID</th><th>商品名</th><th>価格</th><th>削除</th>
      </tr>
    </thead>
    
    <tbody>
      <tr th:each="item:${goods}">
        <td th:text="${item.id}" />
        <td th:text="${item.goodsName}" />
        <td th:text="${item.price}" />
        <td><button type="submit" class="deleteBtn">削除</button></td>
        
      </tr>
    </tbody>
    
  </table>
  
  
  <form name="goodsForm" id="adminPage" method="post" action="/ecsite/admin/goodsMst">
    
    <button type="submit" th:if="${userName != null}">新規商品追加</button>
    <input type="hidden" name="userName" th:value="${userName}" />
    <input type="hidden" name="password" th:value="${password}" />
  </form>

</body>
</html>